<!--
Introducing the Drop Down Menu (In the Head)
-->
   .dropbtn{
 
   }
   .dropdown{
   	position: relative;
   	display: inline-block;
   }
   .dropdown-content{
   	display: none;
   	position: absolute;
   	background-color: rgb(143, 225, 240);
   }
   .dropdown-content a{

   }
   .dropdown-content a:hover {background-color: rgb(247, 6, 195);}
   .dropdown:hover .dropdown-content {display: block;}
   .dropdown:hover .dropbtn {background-color: rgb(196, 35, 245);}	
